##1. Create an empty dictionary

In [ ]:
d={}

##Q2. Create the following dictionary 
##Key	value
##A	10
##B	20

In [ ]:
d={'A':10,'B':20}

##Q3. Create a dictionary with different datatypes for keys

In [ ]:
d={"1":"integer","1.11":"float","hello":"string","True":"boolean"}

##Q4.Print all the items of a dictionary

In [1]:
d={"1":"integer","1.11":"float","hello":"string","True":"boolean"}
print(d)

{'1': 'integer', '1.11': 'float', 'hello': 'string', 'True': 'boolean'}

##Q5. Delete an element of a dictionary

In [ ]:
d={"1":"integer","1.11":"float","hello":"string","True":"boolean"}
print(d)

d.pop("1.11")
print(d)

##Q6. Delete full dictionary

In [ ]:
d={"1":"integer","1.11":"float","hello":"string","True":"boolean"}
del d

##Q7. Print a value for a key

In [ ]:
d={"1":"integer","1.11":"float","hello":"string","True":"boolean"}
print(d.keys())

##Q8.To check if a key id present in a dictionary

In [ ]:
d={"1":"integer","1.11":"float","hello":"string","True":"boolean"}
x = d["1.11"]

print(x)

##Q9.Update a value of a key

In [ ]:
d={"1":"integer","1.11":"float","hello":"string","True":"boolean"}
d.update({"1": "unknown"})
print(d)

##Q10.Add a new key value pair

In [ ]:
d={"1":"integer","1.11":"float","hello":"string","True":"boolean"}
d.update({"log": "unknown"})
print(d)


##Q11. Print dictionary for keys{1,10} and values as square of keys

In [2]:
d=dict()
for x in range(1,10):
    d[x]=x**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

##Q12. Print nested dictionary

In [ ]:
student = {"student1":{"name":"Rohan", "per": "80"},"student2":{"name":"Arjun", "per": "70"}}
print(student)

##Q13. Concatenate three dictionaries
##Sample Dictionary :
##dic1={1:10, 2:20}
##dic2={3:30, 4:40}
##dic3={5:50,6:60}
##Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

##Q14.Sum all the values of a dictionary

In [ ]:
d1 = {1: 2, 2: 90, 3: 20, 4: 50, 5: 10, 6: 9}
total = 0
for i in d1.values():
    total += i
print("Sum = ",total)

##Q15.Accessing an element of a nested dictionary

In [ ]:
student = {"student1":{"name":"Rohan", "per": "80"},"student2":{"name":"Arjun", "per": "70"}}
print(student['student2'][name])

##Q16.Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are square of keys.
##Sample Dictionary
##{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [ ]:
d = dict()
for x in range(1,16):
    d[x] = x**2
print(d)


##Q15. Insert factorial of keys in values. And print dictionary?

In [ ]:
d = {}

def fact(i):
    factorial = 1
    for i in range(1,i):
        factorial *= i
    return factorial
        
for i in range(1,11):
    d[i] = fact(i)
    
print(d)